.details-field {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 1rem 0;

}

.details-field .label {
  font-weight: bolder;
  margin-right: 1rem;
  width: 10rem;
  display: flex;
  justify-content: flex-end;
}