form {
  max-width: 40rem;
  width: 100%;
}

.input-group {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: gray;
}

.input-group input {
  height: 2rem;
  padding: 0 0.5rem;
}

.input-group textarea {
  padding: 0.5rem;
}

.actions {
  padding: 0 0.5rem;
}