.details-field {
  display: flex;
  box-shadow:  0 8px 6px -6px gray;
  padding: 1rem 0;
  width: 40rem;

}

.details-field .label {
  font-weight: bolder;
  margin-right: 1rem;
  width: 10rem;
  display: flex;
  justify-content: flex-end;
}

.field-container .value {
  width: 20rem;
}